.card
  .card-section.Bookmark
    %p= bookmark.media_type.name
    %h3.title.is-4
      = link_to bookmark.title, bookmark.link
    %p= bookmark.description
    %hr
    %p= bookmark.created_at
    =link_to "Permalink", bookmark_path(bookmark)
    .bookmarkFields
      - bookmark.tags.each do |tag|
        .label.secondary= tag.name
