.card
  .card-section
    %h3
      =link_to bookmark.title, bookmark_path(bookmark)
    = link_to bookmark.link, "http://#{bookmark.link}"
    %p= bookmark.description
    %p= bookmark.media_type.name
    - if bookmark.fields
      .bookmarkFields
        - bookmark.fields.each do |field|
          .label.secondary= field
