= form_for bookmark do |f|
  - if bookmark.errors.any?
    = render 'common/form_errors', resource: bookmark

  .grid-x.grid-margin-x
    .cell.medium-6
      = f.label :title
      = f.text_field :title
    .cell.medium-6
      = f.label :link
      = f.text_field :link
    .cell.medium-6
      = f.label :description
      = f.text_area :description
    .cell.medium-6
      = f.label :media_type
      = f.collection_select(:media_type_id, MediaType.all, :id, :name)
    .cell.medium-6
      = f.label :tags_string
      = f.text_field :tags_string
    .cell
      = f.submit

- if @page_content.present?
  = @page_content.to_html.html_safe
