= form_for bookmark do |f|
  - if bookmark.errors.any?
    = render 'common/form_errors', resource: bookmark

  .grid-x.grid-margin-x
    .cell.medium-6
      = f.label :title
      = f.text_field :title
    .cell.medium-6
      = f.label :url
      = f.text_field :url
    .cell.medium-6
      = f.label :description
      = f.text_area :description
    .cell.medium-6
      = f.label :media_type
      = f.text_field :media_type
    .cell.medium-6
      = f.label :fields
      = f.text_field :fields, multiple: true
    .cell
      = f.submit
