%h2= @bookmark.title
= link_to @bookmark.url
%p= @bookmark.description
%p= @bookmark.media_type
- if @bookmark.fields
  .bookmarkFields
    - @bookmark.fields.each do |field|
      .label.secondary= field

.button-group
  = link_to 'Delete', bookmark_path(@bookmark), data: { confirm: 'Are you sure?' }, method: :delete, class: 'button alert'
  = link_to "#{@bookmark.archived? ? 'Unarchive' : 'Archive'}", archive_bookmark_path(@bookmark), method: 'put', class: 'button'
