.container
  .section
    .ContentWrapper
      .Text
        %h2.Text-headline= @bookmark.title
        = link_to @bookmark.link, @bookmark.link, class: 'Text-link'
        .Text-content{ data: { controller: "article-text", action: "mouseup->article-text#mouseUp" } }
          = @bookmark.body_text.html_safe
      - if @bookmark.tag_names.present?
        .bookmarkFields
          - @bookmark.tag_names.each do |tag_name|
            .label.secondary= tag_name
  .section
    .button-group.small
      = link_to 'Delete', bookmark_path(@bookmark), data: { confirm: 'Are you sure?' }, method: :delete, class: 'button alert'
      = link_to "#{@bookmark.archived? ? 'Unarchive' : 'Archive'}", archivate_bookmark_path(@bookmark), method: 'put', class: 'button'
